<form action="" method='GET'>
    {% if is_correct %}
        <p class="response"><b>CORRECT!</b></p>
        <p><img src="{{S['correct_gif']}}"></p>
    {% else %}
        <p class="response"><b>INCORRECT! You are one step closer to being removed from the WhatsApp group.</b></p>
        <p><img src="{{S['incorrect_gif']}}"></p>
    {% endif %}
    {% if is_finished %}
        <p class="response"><b>Congratulations! you have won the test of our friendship. Ask Trisha for your reward for being our friend.</b></p>
    {% else %}
        <input class="button bigger_button" type="submit" value="{{ B_value }}"> 
    {% endif %}
    <!-- <input class="button bigger_button" type="submit" value="{{ B_value }}">  -->
</form>